:root {
    --gap: 36px;
    --content-gap: 20px;
    --nav-width: 720px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #cfcfcf;
    --entry: #F3F4F6;
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(170, 170, 170);
    --main-body-bg: #FFFFFF;
    --nav-color: rgb(250, 250, 250);
    --bg-img: url(/images/fabricd.png)
}

.dark {
    --theme: #0D1117; /*bg*/
    /* for list item bg */
    --entry: #161B22;
    --primary: #C9D1D9 ;
    --secondary: #d4d4d4;
    --tertiary: rgb(65, 66, 68);
    --content: rgb(213, 213, 213);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    --main-body-bg: #0D1117;
    --nav-color: #0D1117;
    --bg-img: url(/images/fabricl.png)
}

.list {
    background-color: var(--theme);
}

.dark.list {
    background-color: var(--theme);
}
